<% provide(:title, "Create an account") %>
<p class="content">
	<p class="text">
		Account creation</br>
		Fill out the forms below	
	</p>
<%= form_tag(users_new_path) do |f| %>
	<div class="forms">
	
	</div>
<% end %>