<% provide(:title, "About") %>
<% provide(:header, "About page") %>
<h2 align="center">About this page...</h2>
<p class="text">This page is made as a school assignment. 
	I used the Ruby on Rails framework to develop it.</br>
	Feel free to try out the converter app and see if you can break it.
	Also if you have any suggestions, please send them on my email, which is written down below.	
</p>
