<% provide(:title, "Home") %>
<!--
	<% provide(:header, "Home page") %>
-->
<p>Currency converter app.</p>
<p>Navigate to Currency converter link on the navigation bar, to start trying it out.</p>

