<% provide(:title, "Home") %>
<!--
	<% provide(:header, "Home page") %>
-->
<p class="text">
	Currency converter app.</br>
	Navigate to Currency converter link on the navigation bar, to start trying it out.	
</p>
