<% provide(:title, "Make post") %>

<p class="content">
    Make new posts:
    <%= form_for(@post) do |f| %>
    	<div class="forms">
			<%= f.text_area :content, placeholder: "Type what you want to say..." %>
			<%= f.submit 'Submit!' %>
		</div>
	<% end %>
</p>