<% provide(:title, "Make post") %>

<b align="center">Make new posts:</b>
    <%= form_for(@post) do |f| %>
    	<div class="forms">
			<%= f.text_area :content, placeholder: "Type what you want to say...", autofocus: true %>
			<%= f.submit 'Submit!' %>
		</div>
	<% end %>
