<div class="buttons">
	<%= link_to 'Main page', form_home_path %> |
	<%= link_to 'Currency converter', form_converter_path %> |
	<%= link_to 'About page', form_about_path %> |
	<%= link_to 'Log in / create new user', new_user_path %>
</div>
